<project name="Dissertacao Mestrado" version="docear 1.0" ID="156E2608FAAB21N112H1OX9GU5DEG0PE9HP5">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/_data/156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/_data/156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/_data/156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/_data/156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="file:/C:/Users/Douglas/OneDrive/Documentos/ICMC_USP/Mestrado/Qualifica&#xe7;&#xe3;o/Docear//literature_repository"/>
</folder>
<link type="references" name="References" path="project://156E2608FAAB21N112H1OX9GU5DEG0PE9HP5/DissertacaoMestrado.bib" system="true"/>
</project>
